@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

:root {
  font-family: 'Baloo Thambi 2', cursive;
  --main-color: #275c40;
  color: var(--main-color);
  scroll-behavior: smooth;
}

body {
  max-width: 1000px;
  margin: auto;
}


header nav h1,
header .stone-head {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

header nav .menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

header nav .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  padding: 0;
  border: 1px solid transparent;
}

header nav .menu li a:hover {
  border: 1px solid var(--main-color);
}

@media (min-width: 500px) {
  header nav {
    display: flex;
    align-items: center;
  }
  header .menu {
    flex: 1;
  }
}

.stone-head {
  width: 100%;
}

.shop-head {
  padding: 20px;
}

main .stone-shop {
  display: block;
  width: 25%;
}

main .shop {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 30px;
}

main .lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

main .buy-shop {
  font-family: 'Baloo Thambi 2', cursive;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #275c40;
  background-color: whitesmoke;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

@media (max-width: 500px) {
  main .lists {
    display: grid;
    grid-template-columns: 1fr;
  }
}

main .stone-shop {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main p {
  display: block;
  text-align: center;
}

main .buy-shop {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.head-contacts {
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

main .contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.contact-street {
  display: grid;  
}

.contact-number {
  display: grid;  
}

.facebook {
  display: grid;
  width: 30%;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

@media (max-width: 500px) {
   main .contact-us {
    display: grid;
    grid-template-columns: 1fr;
  }
}

footer .holder  {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.holder {
  display: grid;
  justify-self: center;
  align-items: center;
  text-align: center;
}



footer .send-button {
  font-family: 'Baloo Thambi 2', cursive;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #275c40;
  background-color: whitesmoke;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.footer {
  text-align: center;
}
