@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

:root {
    font-family: 'Baloo Thambi 2', cursive;
    --main-color:#275c40;
    color: var(--main-color);
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header nav h1,
header .stone-head {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

header nav .menu  {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

header nav .menu li a {
    text-decoration: none;  
    text-transform: uppercase;
    color: var(--main-color);
    padding: 0;
    border: 1px solid transparent;
    }

header nav .menu li a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header .menu {
        flex: 1;
    }
}

.stone-head {
    width: 100%;
}


main .stone-shop {
    display: block;
    width: 25%;
}

main .shop  {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    font-size: 30px;
}

main .lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    align-content: center;  
}

main .buy-shop {
    font-family: 'Baloo Thambi 2', cursive;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #275c40;
    background-color: whitesmoke;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

@media (max-width : 500px) {
    main .lists {
        display: grid;
        grid-template-columns: 1fr ;
    }
}

main .stone-shop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main p  {
    display: block;
    text-align: center;
}

main .buy-shop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}